@charset "utf-8";

@import "normalize";

@import url(//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Libre+Baskerville:400,700,400italic);

$red: #c82506;
$darkred: #580704;

html, body {
  font-family: "Libre Baskerville", serif;
  font-size: 14pt;
  background: $darkred;
  height: 100%;
}

.red {
  color: $red;
}

.heart:before {
  content: "\2665";
  color: $red;
}

p, ul {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#container {
  width: 80%;
  margin: 0 auto;
  padding: 10px 20px;
  background: #fff;
  min-height: 100%;
}

#header {
  text-align: center;
  font-size: 50pt;
  margin: 0;
  padding-top: 20px;

  a {
    text-decoration: none;
  }
}

#subheader {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 14pt;
  margin-top: 0;
  margin-bottom: 35px;

  a {
    text-decoration: none;
  }
}

#axiom {
  font-size: 28pt;
  width: 500px;
  margin: 0 auto;
  text-shadow: 2px 2px 2px #aaa;
}

.virtue {
  text-align: center;
  font-size: 30pt;
}

#copyright {
  margin-top: 40px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 10pt;
  color: #888;

  a {
    color: #888;
  }
}
