<p>
  We believe that software engineering, like all creative endeavors, has great
  potential to improve the human condition. Steps toward realizing this
  potential must be taken with this axiom in mind:
</p>

<p id="axiom">
  We are <span class="red">humans</span><br>
  working with <span class="red">humans</span><br>
  to develop software<br>
  for the benefit of <span class="red">humans</span>.
</p>

<p>
  In other words, software engineering organizations cannot hope to sustain
  meaningful progress at the expense of the humans who make up the organization;
  the ends must not be used to justify the means. <em>Software can and should be
  developed with a minimum of pain.</em>
</p>
