---
title: Support
---

<h1>Support</h1>

<p>
  You've read what we've shared here, and you've been nodding along. You want
  to help. Where do you start?
</p>

<h2>Talk</h2>

<p>
  The best thing you can do to help the Humane Development cause is simple:
  <em>talk about it!</em> If you're using a social network that supports
  hashtags, <b>tag it with #HumaneDev.</b> Here's a handy Tweet button to do
  just that:
  <a href="https://twitter.com/intent/tweet?button_hashtag=HumaneDev&text=I%20support%20Humane%20Development%20because..." class="twitter-hashtag-button" data-related="humanedev,erniemiller" data-url="http://humanedevelopment.org">Tweet #HumaneDev</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</p>

<h2>Shirts</h2>

<p>
  If you want to do more, we ran a recent
  <a href="http://teespring.com/humane_development">Teespring campaign to print Humane Development shirts</a>.
  If enough people register their interest, Teespring will allow us to run
  another printing of it. Note that all Humane Development shirts entitle the
  wearer to one (1) hug from Ernie Miller at any conference of their choice
  (Note: hugs also available without purchase of shirt).
</p>

<h2>Stickers</h2>

<p>
  Want to spread the word on your laptop/phone case/forehead/cat's head? A
  <a href="https://www.stickermule.com/marketplace/4844-humane-development-circle-sticker">Humane Development sticker</a>
  (or 10) will do the trick! If you happen to track down Ernie Miller in person,
  just ask for a sticker and he'll be happy to give you one.
</p>

<h2>More?</h2>

<p>
  Certainly the ways in which you can help advance the cause aren't limited to
  tweeting and shirts and stickers. This is a group effort, so if you have ideas
  on how to help, please <a href="https://twitter.com/humanedev">reach out on
  Twitter!</a>
</p>
